////////////////////////
// Style Guide Partials
//
// Your Style Guide
// Build sub folders and partials in this folder, with everything being imported, in cascading order, into this file.
//
// All Style Guide selectors should go in here, regardless of layout or design (but separating the two in here is a good idea).
////////////////////////
@import 'breakpoint';
//////////////////////////////
// CSS Resets
//
// Choose your CSS Reset method:
//  If you'd like a hard reset, uncomment `compass/reset`.
//  If you'd prefer a soft reset, uncomment `normalize`
//////////////////////////////
// @import 'compass/reset';
// @import 'normalize';

///////////////////////////////
//  HOMEPAGE
///////////////////////////////

///////////////////////////////
//  PLANETARY POSITIONS
///////////////////////////////
#birthchart {
	div#current-block {
		float: left;
		box-sizing: initial;
		font-family: $arial-narrow;
	}
	#current-block {
		border: 1px solid black;
		padding: 5px;
		text-align: center;
		h2.pane-title {
			display: none;
		}
	}
	@include breakpoint($bkpt-xsmall) {
		#current-block {
			display: none;
		}
		font-size: 92%;
		#current-block img {
			width: 28px;
		}
	}
	@include breakpoint($bkpt-small) {
		#current-block {
			display: none;
		}
		font-size: 94%;
		#current-block img {
			width: 31px;
		}
	}
	@include breakpoint($bkpt-medium) {
		font-size: 96%;
		#current-block img {
			width: 34px;
		}
	}
	@include breakpoint($bkpt-large) {
		font-size: 98%;
		#current-block img {
			width: 37px;
		}
	}
	@include breakpoint($bkpt-xlarge) {
		font-size: 100%;
		#current-block img {
			width: 40px;
		}
	}
}
	
///////////////////////////////
//  BIRTH CHART
///////////////////////////////
#birthchart {
	#astrotheme {
		border: 1px solid black;
		background-color: $light-blue;
		float: right;
		header > h2 > a,
		.pane-title {
			
			display: none;
		}
		p {
			text-transform: initial;
		}
		@include breakpoint($bkpt-xsmall) {
//			width: calc(96% - 122px);
			width: calc(96% - 0px);
		}
		@include breakpoint($bkpt-small) {
//			width: calc(96% - 130px);
			width: calc(96% - 0px);
		}
		@include breakpoint($bkpt-medium) {
			width: calc(96% - 140px);
		}
		@include breakpoint($bkpt-large) {
			width: calc(96% - 155px);
		}
		@include breakpoint($bkpt-xlarge) {
			width: calc(96% - 160px);
		}
	}
}

#astrotheme {
  position: relative;
  padding-bottom: 50%;
  height: 0;
  margin: 0px 0;
  overflow: hidden;
}

#astrotheme iframe {
  position: absolute;
  top: 0;
  left: 0;

	@include breakpoint($bkpt-xsmall) {
	  width: 150%;
	  height: 130%;
	  -moz-transform: scale(0.65, 0.65); 
	  -webkit-transform: scale(0.65, 0.65); 
	  -o-transform: scale(0.65, 0.65);
	  -ms-transform: scale(0.65, 0.65);
	  transform: scale(0.65, 0.65); 
		#carte_corps > div {
			margin: inherit;
		}
	}
	@include breakpoint($bkpt-small) {
	  width: 120%;
		height: 120%;
	  -moz-transform: scale(0.75, 0.75);
	  -webkit-transform: scale(0.75, 0.75);
	  -o-transform: scale(0.75, 0.75);
	  -ms-transform: scale(0.75, 0.75);
	  transform: scale(0.75, 0.75);
		#carte_corps > div {
			margin: inherit;
		}
	}

	@include breakpoint($bkpt-medium) {
	  width: 110%;
	  height: 100%;
	  -moz-transform: scale(0.85, 0.85); 
	  -webkit-transform: scale(0.85, 0.85); 
	  -o-transform: scale(0.85, 0.85);
	  -ms-transform: scale(0.85, 0.85);
	  transform: scale(0.85, 0.85); 
	}
	@include breakpoint($bkpt-large) {
	  width: 100%;
	  height: 100%;
	}
	@include breakpoint($bkpt-xlarge) {
	  width: 100%;
	  height: 100%;
	}
  -moz-transform-origin: top left;
  -webkit-transform-origin: top left;
  -o-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
}

/*#carte_corps > div {
	margin: inherit;
	width: inherit;
}
*/
