////////////////////////
// Style Guide Partials
//
// Your Style Guide
// Build sub folders and partials in this folder, with everything being imported, in cascading order, into this file.
//
// All Style Guide selectors should go in here, regardless of layout or design (but separating the two in here is a good idea).
////////////////////////
@import 'breakpoint';
//////////////////////////////
// CSS Resets
//
// Choose your CSS Reset method:
//  If you'd like a hard reset, uncomment `compass/reset`.
//  If you'd prefer a soft reset, uncomment `normalize`
//////////////////////////////
// @import 'compass/reset';
// @import 'normalize';

///////////////////////////////
//  PLANETARY POSITIONS
///////////////////////////////
#interaction,
#transits {
	font-family: $myriad-pro; //$arial-narrow;
	.aurora-sample-section {
		background-color: #FFFFFF;
	}


///////////////////////////////
//  PLANETARY POSITIONS
///////////////////////////////
	#planetary-positions {
		width: 36%;
		display: inline-block;
		float: left;
		box-sizing: initial;
		background-color: $light-green;
		border: 1px solid black;
		text-align: left;
		margin-bottom: 10px;
		margin-right: 0.5em;
		h2.pane-title {
			display: none;
		}
	}

///////////////////////////////
//  INTERACTION
///////////////////////////////

	#interaction-content,
	#transit-content {
		//width: 60%;
		display: inline-block;
		border: 1px solid black;
		padding: 4px 4px 31px 5px;  // TRBL
		text-align: justify;
		background-color: $light-blue;
		//font-size: 85%;
		header > h2 > a,
		.pane-title {
			display: none;
		}
		.pane-content {
			margin-top: -14px;
			margin-bottom: -26px;
		}

		@include breakpoint($bkpt-small) {
			width: 60%;
			font-size:16px;
			img {
				width: 33px;
			}
		}
		@include breakpoint($bkpt-medium) {
		 width: 65%;
			font-size:18px;
			img {
				width: 39px;
			}
		}
		@include breakpoint($bkpt-large) {
			width: 70%;
			font-size:20px;
			img {
				width: 42px;
			}
		}
		@include breakpoint($bkpt-xlarge) {
		  width: 75%;
			font-size:20px;
			img {
				width: 45px;
			}
		}

	}


///////////////////////////////
//  BREAKPOINTS
///////////////////////////////
	#planetary-positions {
		@include breakpoint($bkpt-small) {
		span {
			font-size: 14px !important;
		}

			width: 35%;
			img {
				width: 33px;
			}
		}
		@include breakpoint($bkpt-medium) {  // Medium devices (tablets, 501px and up)
		span {
			font-size: 16px !important;
		}
			width: 30%;
			img {
				width: 39px;
			}
		}
		@include breakpoint($bkpt-large) {  // Large devices (desktops, 701px and up)
		span {
			font-size: 18px !important;
		}
			width: 25%;
			img {
				width: 42px;
			}
		}
		@include breakpoint($bkpt-xlarge) { // Extra large devices (large desktops, 1201px and up)
		span {
			font-size: 20px !important;
		}
			width: 20%;
			img {
				width: 45px;
			}
		}
	}

}