////////////////////////
// Style Guide Partials
//
// Your Style Guide
// Build sub folders and partials in this folder, with everything being imported, in cascading order, into this file.
//
// All Style Guide selectors should go in here, regardless of layout or design (but separating the two in here is a good idea).
////////////////////////
@import 'breakpoint';
//////////////////////////////
// CSS Resets
//
// Choose your CSS Reset method:
//  If you'd like a hard reset, uncomment `compass/reset`.
//  If you'd prefer a soft reset, uncomment `normalize`
//////////////////////////////
// @import 'compass/reset';
// @import 'normalize';

///////////////////////////////
//  PLANETS
///////////////////////////////
#planet {
	font-family: $arial-narrow;
	li.leaf {
		padding: 0;
	}
	.pane-aggregator-feed-1,
	.pane-aggregator-feed-2,
	.pane-2 {
		float: left;
		width: 100%;
		border: 1px solid $blue;
		background-color: $light-green;
		clear: both;
		padding: 7px;
		margin-bottom: 7px;
		ul {
			list-style-type: none; 
			list-style: none;
			margin-left: -39px;
			margin-top: 4px;
			margin-bottom: -1px;
			font-size: 88%;
			padding-right: 8px;
		}
		a {
			text-decoration: none;
			color: $violet;
		}
		li {
			list-style-type: none;
			list-style: none;
			padding-bottom: 6px;
			@include breakpoint($bkpt-xsmall) {
				font-size: 72%;
			}
			@include breakpoint($bkpt-small) {
				font-size: 76%;
			}
			@include breakpoint($bkpt-medium) {
				font-size: 80%;
			}
			@include breakpoint($bkpt-large) {
				font-size: 100%;
			}
			@include breakpoint($bkpt-xlarge) {
				font-size: 100%;
			}
		}
		div.more-link {  // show more
			color: $dark-blue;
			font-size: 70%;
			float: left;
			padding: 7px;
		}
	}
}

#planet {
	div.node-planet {
		background-color: $light-blue;
		border: 1px solid $blue;
		position: relative;
		top: 34px;
		text-align: justify;
		padding: 7px;
		margin-bottom: 34px;
	}
}
