// Small devices (landscape phones, 576px and up)
$bkpt-small: 0px 500px;

// Medium devices (tablets, 768px and up)
$bkpt-medium: 501px 700px;

// Large devices (desktops, 992px and up)
$bkpt-large: 701px 1200px;

// Extra large devices (large desktops, 1200px and up)
$bkpt-xlarge: 1201px;



/*
$bkpt-xsmall: 0px 319px;
$bkpt-small: 320px 374px;
$bkpt-medium: 375px 471px;
$bkpt-large: 472px 775px;
$bkpt-xlarge: 776px;
*/