// Small devices
$bkpt-small: 0px 715px;

// Medium devices (tablets, 501px and up)
$bkpt-medium: 716px 802px;

// Large devices (desktops, 701px and up)
$bkpt-large: 801px 900px;

// Extra large devices (large desktops, 1201px and up)
$bkpt-xlarge: 901px;



/*
$bkpt-xsmall: 0px 319px;
$bkpt-small: 320px 374px;
$bkpt-medium: 375px 471px;
$bkpt-large: 472px 775px;
$bkpt-xlarge: 776px;
*/